<div class="row">
  <div class="col-xs-12">
    <img class="expanded-recipe-image img-responsive" [src]="recipe.imageUrl" alt="{{ recipe.name }}">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)=addRecipeIngredientsToShoppingList() style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h5>Description: </h5>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam et maxime ex rem, nobis asperiores doloribus placeat repudiandae delectus debitis corrupti magnam pariatur nostrum laborum, repellendus voluptas unde mollitia earum!</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>